Repository ezbot-ai/docs, changes with the labels that .github/labeler.yml gives for each.
All labels: Doc Change, GitHub, Dep Change, Page Change, Version Change

.github/labeler.yml:

# https://github.com/actions/labeler

Doc Change:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*.md"
          - "**/*.excalidraw"
          - "docs/**"

GitHub:
  - changed-files:
      - any-glob-to-any-file:
          - ".github/**"

Dep Change:
  - changed-files:
      - any-glob-to-any-file:
          - "**/package.json" # JS

Page Change:
  - changed-files:
      - any-glob-to-any-file:
          - "src/pages/**"

Version Change:
  - changed-files:
      - any-glob-to-any-file:
          - "versioned_docs/**"

Remove Chrome Extension beta message
  docs/04-guides/visual/00-capabilities.md
Labels: Doc Change

Remove Chrome Extension beta message (#55)
  docs/04-guides/visual/00-capabilities.md
Labels: Doc Change

update GTM doc
  docs/04-guides/installation/02-google-tag-manager.md
Labels: Doc Change

add shopify install doc
  docs/04-guides/installation/03-shopify.md
Labels: Doc Change

add wordpress doc
  docs/04-guides/installation/04-wordpress.md
  docs/img/wordpress-javascript-plugin.png
Labels: Doc Change

refactor installation guides
  docs/03-get-started/05-install.md
  docs/04-guides/installation/01-basic-snippet.md
  docs/04-guides/installation/02-nextjs.md
  docs/04-guides/installation/03-google-tag-manager.md
  docs/04-guides/installation/04-shopify.md
  docs/04-guides/installation/05-wordpress.md
  docs/04-guides/installation/06-basic-sdk.md
Labels: Doc Change

cleanup rewards
  docs/03-get-started/05-install.md
  docs/03-get-started/06-rewards.md
Labels: Doc Change

Update Installation & Reward Docs (#56)
  docs/03-get-started/05-install.md
  docs/03-get-started/06-rewards.md
  docs/04-guides/installation/01-basic-snippet.md
  docs/04-guides/installation/02-nextjs.md
  docs/04-guides/installation/03-google-tag-manager.md
  docs/04-guides/installation/04-shopify.md
  docs/04-guides/installation/05-wordpress.md
  docs/04-guides/installation/06-basic-sdk.md
  docs/img/wordpress-javascript-plugin.png
Labels: Doc Change

Add Cross-domain Tracking Docs
  docs/03-get-started/05-install.md
  docs/03-get-started/06-rewards.md
  docs/04-guides/installation/01-basic-snippet.md
  docs/04-guides/installation/07-cross-domain.md
Labels: Doc Change

update
  docs/04-guides/installation/07-cross-domain.md
Labels: Doc Change

important
  docs/04-guides/installation/07-cross-domain.md
Labels: Doc Change

Add Cross-domain Tracking Docs (#57)
  docs/03-get-started/05-install.md
  docs/03-get-started/06-rewards.md
  docs/04-guides/installation/01-basic-snippet.md
  docs/04-guides/installation/07-cross-domain.md
Labels: Doc Change

update deps
  package-lock.json
  package.json
Labels: Dep Change

Bump more deps
  .nvm
  package-lock.json
  package.json
Labels: Dep Change

Update Docs Deps (#58)
  .nvm
  package-lock.json
  package.json
Labels: Dep Change

Add Free trial links
  CLAUDE.md
  docs/02-introduction/02-benefits.md
  docs/03-get-started/01-overview.md
  docusaurus.config.ts
  src/pages/index.tsx
Labels: Doc Change, Page Change

Update Docs Home Page
  docusaurus.config.ts
  src/components/HomepageFeatures/index.tsx
  src/components/HomepageFeatures/styles.module.css
  src/pages/index.module.css
  src/pages/index.tsx
Labels: Page Change

update links
  docs/02-introduction/02-benefits.md
  docs/03-get-started/01-overview.md
Labels: Doc Change

Free Trial Links (#59)
  CLAUDE.md
  docs/02-introduction/02-benefits.md
  docs/03-get-started/01-overview.md
  docusaurus.config.ts
  src/components/HomepageFeatures/index.tsx
  src/components/HomepageFeatures/styles.module.css
  src/pages/index.module.css
  src/pages/index.tsx
Labels: Doc Change, Page Change

Next SSR docs
  docs/04-guides/installation/02-nextjs.md
  docs/04-guides/installation/08-nextjs-server-side-rendering.md
Labels: Doc Change

Add gitkeep for blog
  blog/.gitkeep
Labels: none

Fix tags
  docs/tags.yml
Labels: Doc Change

Next SSR docs (#60)
  blog/.gitkeep
  docs/04-guides/installation/02-nextjs.md
  docs/04-guides/installation/08-nextjs-server-side-rendering.md
  docs/tags.yml
Labels: Doc Change

Hotfix doc footer
  docs/04-guides/installation/08-nextjs-server-side-rendering.md
Labels: Doc Change

Hotfix doc footer
  docs/04-guides/installation/08-nextjs-server-side-rendering.md
Labels: Doc Change
